/* Body for guest/user map interface */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex; 
  flex-direction: column; 
}

/* Styling for the header */
.header {
  position: fixed; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(241, 241, 241, 1);
  border-bottom: 1px solid #ccc;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

/* Button styling */
button {
  background-color: #6a1b9a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/*Search Bar*/

/* Search bar and button styling */
.search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: 65vw; /* Fill the width of the container */
  position: relative;
  margin-left: 30px;
  background-color: white; /* Add background color */
  border: 1px solid #ccc; /* Add border */
  border-radius: 15px; /* Add border radius */
  padding: 5px; /* Add padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
  z-index: 2000; /* Ensure it has a higher z-index */
}

.search-icon-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 30%;
  height: 4px;
  width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  scale: 0.5;
}

.search-input { 
  margin-top: 18px;
  height: 30px;
  width: calc(65vw - 70px);
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; /* Change to your desired font size */
  padding-left: 20px;
  color: #333;
  position: relative; 
}

#autocomplete-list {
  position: absolute;
  top: calc(100% + 5px);
  width: calc(100% - 50px);
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 2000;
}

#autocomplete-list div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

#autocomplete-list div:hover {
  background-color: #e9e9e9;
}

 /* Style for the placeholder text */
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  opacity: 1;
}

.search:focus-within{
  background: #f1f1f1;
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Filter Related styles */

.filter-button {
  display :flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  scale: 1;
}

.filter-caption {
  font-size: 14px;
  text-align: center;
  color: white;
}

.filter-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.filter-dropdown {
  display: none; /* Hidden by default */
  position: absolute; /* Position it below the filter button */
  top: calc(105%); /* Align with the header */
  right: calc(50px+ 100%); /*Align right with filter button */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 15; /* Higher than other elements */
  padding: 10px;
  width: 170px; /* Width of the dropdown */
  flex-basis: 100%; /* Allow it to grow to full width */
}

/* Style for each filter item */
.filter-item {
  display: flex;
  align-items: center;
  height: 50px;
}

/* Container for the slider, aligned to the left */
.filter-slider {
  display: flex;
  margin-top: 28px;
  justify-content: flex-start;
  flex: 1;
}

/* Container for the text, aligned to the right */
.filter-text {
  display: flex;
  justify-content: center;
  flex: 2; /* Adjust flex value for desired spacing */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 70px; /* Increase width for larger clickable area */
  height: 60px; /* Increase height for larger clickable area */
}

/* Hide default HTML checkbox but make it fill the switch container */
.switch input {
  opacity: 0;
  width: 0; /* Ensure input covers the full switch container */
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  height: 30px; /* Increase height */
  width: 50px; /* Increase width */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; /* Increase height */
  width: 26px; /* Increase width */
  left: 2px;
  bottom: 2px; /* Adjust bottom position */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Adjust translateX */
  -ms-transform: translateX(20px); /* Adjust translateX */
  transform: translateX(20px); /* Adjust translateX */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.slider-text{ /*Adjust bottom position */
  font: Arial, sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
  align-items: center;
}

/* Login/Register/Logout Related Styles */

/* Login/Register Icons */
.login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-right: 50px; /* Center the login/register icon */
}

/* Login/Register Icons */
.login-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.login-caption {
  font-size: 14px;
  text-align: center;
  color: black;
}

/* Logout Icons */
.logout-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 50px; /* Center the login/register icon */
}

.logout-caption {
  font-size: 14px;
  text-align: left;
  color: white;
}

/* Profile Bar Related Styles */

/* Profile and Settings button */
.profile-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

/* profile and Setting bar related Styles*/
.profile-sidebar{
  top: (100%-30px);
  display: none;
  column-count: 1;
  column-gap: 15px;
  grid-template-columns: 120px 120px 120px; /* Specify one column */
  grid-template-rows: repeat(6  , auto); /* Repeat 'auto' for 6 rows */
  position: fixed;
  right: 0px; /* Position the sidebar on the right */
  height: 100%;
  width: 360px;
  background-color: white;
  z-index: 1000;
  margin-top: 50px;
}

/* Profile Settings Header Text*/
.profile-header-text {
  font-size: 20px;
  text-align: right;
  color: black;
  padding-right: 20px;
}

.close-icon {
  padding-top: 10px;
  padding-right:280px;
  align-self: left;
  cursor: pointer;
  width:40px;
  height: 40px;
}

.settings-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.user-profile-pic
{
  width: 120px;
  height: 120px;
  align-items: center;
}

.profile-sidebar-username
{
  font-size: large;
}

.language{
  align-self: auto;
}

.language-selector {
  display: flex; /* Ensure it is a block-level element */
  font-size: 12px;
  color: white;
  background-color: #888;
  padding: 8px;
  border-radius: 5px;
  z-index: 1000;
}

.language-selector span {
  display: flex; /* Ensure each language is on a new line */
  margin-bottom: 5px;
}

.language-selector select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.language-selector select:hover {
  border-color: #888;
}

.language-selector select:focus {
  border-color: #555;
}

.language-selector label {
  display: flex;
  margin: 8px;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  color: #f9f9f9;
}

/* Main Body styles */

/* Content layout */
.content {
  display: flex;
  position: relative;
  top: 50px; 
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: calc(100% - 50px); 
  text-align: center;
  font-size: 14px;
}

/* Parking lots Sidebar */

.sidebar {
  flex: 1; /* Use flex to allow them to shrink and grow */
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  margin-top: 30px;
  overflow-y: auto; /* Allow scrolling */
  background-color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow-y: auto;
  height: 95%; 
  position: fixed;
  animation-duration: 5s;
  display: none;
}

#sidebar {
  flex: 1; /* Use flex to allow them to shrink and grow */
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  margin-top: 30px;
  overflow-y: auto; /* Allow scrolling */
  background-color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow-y: auto;
  height: 95%; 
  position: fixed;
  animation-duration: 5s;
}

.exit-button {
  background-color: #6a1b9a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.history-sidebar{
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: auto auto auto auto auto auto;

}

/* Parking lot info styling */
.parking-lot, .parking-history {
  margin-bottom: 15px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


/*Map Related Styles*/

/* Map zoom control styling */
.fixed-control-zoom {
  position: fixed; /* Ensure it is fixed */
  top: 100px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 1000; /* Ensure it is on top of other elements */
}

/* Map Container */
#mapdiv {
  margin-top: 20px;
  height: 100vh; /* Full height minus header */
  width: 100%; /* Full width */
  position: absolute; /* Position absolute to cover the entire viewport */
  top: 40;
  left: 0;
  z-index: 0; /* Lowest z-index */
}

.map-container {
  flex-grow: 1;
  margin-top: 40px ;
  margin-left: 200px;
  position: relative;
  z-index: 0; /* Lower z-index for the map */
}

/* Map container */
#map {
  height: 100%; /* Make sure the map takes the full viewport height */
  width: 100%; /* Adjust width based on sidebar */
  position: absolute;
  left: 200px; /* Adjust to account for sidebar */
  z-index: 1;
  display: grid; /* Use grid layout to position the map and sidebar */
  grid-template-columns: 5fr 300px;
  grid-template-rows: 5fr 300px; 
  place-items: center; /* Center the map*/
}

/* Icon styling */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Map related icons */
  /* Make sure all Leaflet marker icons have a uniform z-index */
  
  .leaflet-marker-icon {
    z-index: 1000 !important; /* Use !important to override any conflicting styles */
    position: absolute; /* Required for z-index to take effect */
  } 
  
  /* Optional: higher z-index for popups */
  .leaflet-popup {
    z-index: 1500; /* Make sure popups are above markers */
  }

/* Animations */

@keyframes slideIn {
  from {
      width: 0;
  }

  to {
      width: 200px;
  }
}

@keyframes slideOut {

  from {
      width: 200px;
  }
  to {
      width: 0;
  }
}