/* Body for guest/user map interface */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex; 
  flex-direction: column; 
}

/* Styling for the header */
.header {
  position: fixed; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(241, 241, 241, 1);
  border-bottom: 1px solid #ccc;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

/* Search bar and button styling */
.search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 45px;
  width: 65%;
  position: relative;
  margin-left: 30px;
  background-color: white; /* Add background color */
  border: 1px solid #ccc; /* Add border */
  border-radius: 15px; /* Add border radius */
  padding: 5px; /* Add padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
  z-index: 2000;
}

/* Button styling */
button {
  background-color: #6a1b9a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/*Search Bar*/
.search-icon-btn{
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 30%;
  height: 4px;
  width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  scale: 0.5;
}

.search-icon {
  width: 60px;
  height: 60px;
}

.search {
  --padding: 14px;
  position: absolute;
  width: max-content;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border-radius: 28px;
  background-color: rgb(156, 156, 156);
  padding: var(--padding);
  border-radius: 10px;
  transition: box-shadow 0.25s;
}

.search-input {
  display: flex;
  width: 100vh;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; /* Change to your desired font size */
  padding-left: 20px;
  color: #333;
  position: relative;
}

/* Style for the placeholder text */
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  opacity: 1;
}

.search:focus-within{
  background: #f1f1f1;
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Filter Related styles */
.filter-button {
  display :flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  scale: 1;
}

.filter-caption {
  font-size: 14px;
  text-align: center;
  color: white;
}

.filter-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.filter-dropdown {
  display: none; /* Hidden by default */
  position: absolute; /* Position it below the filter button */
  top: 120px; /* Align with the header */
  right: 90px; /*Align right with filter button */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 15; /* Higher than other elements */
  padding: 10px;
  width: 170px; /* Width of the dropdown */
  flex-basis: 100%; /* Allow it to grow to full width */
}

/* .filter-options {
  position: absolute;
  bottom: 20px;
  right: 320px; /* Adjust to fit within the content area */
  /* background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
} */
/* 
.filter-option {
  padding: 5px;
  cursor: pointer;
} */

/* .filter-option:hover {
  background-color: #f0f0f0;
} */ 


/* Login/Register/Logout Related Styles */

/* Login/Register Icons */
.login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0 25px 0 10px; /* Center the login/register icon */
}

.login-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.login-caption {
  font-size: 14px;
  text-align: center;
  color: white;
}

/* Profile and Settings button */
.profile-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 0 10px; /* Center the login/register icon */
}

.settings-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

/* profile and Setting bar related Styles*/
.profile-sidebar{
  display: none;
  grid-template-columns: auto auto auto; /* Specify one column */
  grid-template-rows: repeat(6, auto); /* Repeat 'auto' for 6 rows */
  position: fixed;
  right: 0px; /* Position the sidebar on the right */
  top: (100%-30px); /* Position the sidebar at the top */
  height: 100%;
  width: 250px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 40px;
}

/* Profile Settings Header Text*/
.profile-header-text {
  grid-column: 2/3;
  grid-row: 1/1;
  font-size: 20px;
  text-align: right;
  color: black;
  padding-top: 25px;
  padding-right: 20px;
}

.close-icon {
  padding-top: 30px;
  padding-left: 10px;
  grid-column: 1/1;
  grid-row: 1/1;
  align-items: center;
  cursor: pointer;
  width:40px;
  height: 40px;
}

/* Content layout */
.content {
  display: flex;
  position: relative;
  top: 50px; 
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: calc(100% - 50px); 
  text-align: center;
  font-size: 14px;
}

/* Parking lots styling */
.sidebar{
  display: flex;
  flex-direction: column;
  position: absolute;
  flex: 1; /* Use flex to allow them to shrink and grow */
  width: 400px; /* Optional maximum width */
  height: 100vh; 
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  margin-top: 60px;
  overflow-y: auto; /* Allow scrolling */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 5000;
  overflow-y: auto;
}

.sidebar h2 {
  padding-top: 10px;
}

/* Parking lot info styling */
.parking-lot {
  margin: 4px 15px;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*Map Related Styles*/

/* Map zoom control styling */
.fixed-control-zoom {
  position: fixed; /* Ensure it is fixed */
  top: 100px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 1000; /* Ensure it is on top of other elements */
}

/* Map Container */
#mapdiv {
  height: 100vh; /* Full height minus header */
  width: 100%; /* Full width */
  position: absolute; /* Position absolute to cover the entire viewport */
  top: 40;
  left: 0;
  z-index: 0; /* Lowest z-index */
}

.map-container {
  flex-grow: 1;
  margin-top: 60px ;
  margin-left: 400px;
  position: relative;
  z-index: 0; /* Lower z-index for the map */
}

/* Map container */
#map {
  height: 100%; /* Make sure the map takes the full viewport height */
  width: 100%; /* Adjust width based on sidebar */
  position: absolute;
  left: 400px; /* Adjust to account for sidebar */
  z-index: 1;
  display: grid; /* Use grid layout to position the map and sidebar */
  grid-template-columns: 5fr 300px;
  grid-template-rows: 5fr 300px; 
  place-items: center; /* Center the map*/
}

/* Icon styling */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: flex;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.slider-text{
  position: relative;
  bottom: 20px;
  font: Arial, sans-serif;
  font-size: 14px;
  text-align: right;
}

#autocomplete-list {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  max-height: 180px;
  overflow-y: auto;
  z-index: 2000 !important; /* Ensure it is above the map */
  width: 90%; /* Adjust the width to fit within the search bar */
}

#autocomplete-list div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

#autocomplete-list div:hover {
  background-color: #e9e9e9;
}

.marker {
  z-index: 1001;
  position: absolute;
}

/* Make sure all Leaflet marker icons have a uniform z-index */
.leaflet-marker-icon {
  z-index: 1000 !important; /* Use !important to override any conflicting styles */
  position: relative; /* Required for z-index to take effect */
}

/* Optional: higher z-index for popups */
.leaflet-popup {
  z-index: 1500; /* Make sure popups are above markers */
}

/* Style for the language selector */
/* Language Selector Styling */
.language-selector {
  display: flex; /* Ensure it is a block-level element */
  position: absolute;
  margin-top: 90px;
  margin-right: 20px;
  margin-left: 20px;
  left: 0;
  top: 0;
  font-size: 12px;
  color: white;
  background-color: #888;
  padding: 8px;
  border-radius: 5px;
  z-index: 1000;
}

.language-selector span {
  display: flex; /* Ensure each language is on a new line */
  margin-bottom: 5px;
}

.language-selector select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.language-selector select:hover {
  border-color: #888;
}

.language-selector select:focus {
  border-color: #555;
}

.language-selector label {
  display: flex;
  margin: 8px;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  color: #f9f9f9;
}

/* Additional styles to align with your overall design */
nav {
  margin-top: 120px;
}