<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your stylesheet -->
</head>

<body>
    <div class="forgetpwd-container">
        <div class="forgetpwd-box">
            <img src="/css/images/logo.jpg" alt="CarPark Logo" class="logo">
            <h1>Forgot Password</h1>
            <% if (error && error.length > 0) { %>
                <p style="color: red;"><%= error[0] %></p>
            <% } %>
            <form action="/forgetPassword" method="POST" class="forgetpwd-form">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>

            <div class="or-container">
                <hr class="line" />
                <span class="or-text">OR</span>
                <hr class="line" />
            </div>

            <div class="link-container">
                <a href="/login" class="link-login">Login</a>
                <a href="/register" class="link-register">Register</a>
                <a href="/guest" class="link-guest">Continue as Guest</a>
            </div>
        </div>
    </div>
</body>
</html>