<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Map View</title>
    <link rel="stylesheet" href="https://www.onemap.gov.sg/web-assets/libs/leaflet/leaflet.css" />
    <script src="https://www.onemap.gov.sg/web-assets/libs/leaflet/onemap-leaflet.js"></script>
    <script src="https://www.onemap.gov.sg/web-assets/libs/leaflet/leaflet-tilejson.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
    <link rel="stylesheet" href="\css\styles_guest.css">
</head>

<body onload="changeLanguage()">
    <!-- Header with logo, search bar, filter, and login/register -->
    <div class="header">
        <!-- Logo -->
        <img src="\css\images\logo.jpg" alt="Logo" class="logo">

        <!-- Search bar with search icon -->
        <div class="search-bar">
            <form autocomplete="off" onsubmit="event.preventDefault(); searchLocation();">
                <input class="search-input" type="search" id="search" placeholder="Search for parking lots" oninput="showSuggestions()" autocomplete="off">
                <!-- Autocomplete suggestion list -->
                <div id="autocomplete-list" class="autocomplete-items"></div>
                <button type="submit" class="search-icon-btn" id="searchicon">
                    <img src="\css\images\icons\search.png" class="search-icon" alt="Search">
                </button>
            </form>
        </div>

        <!-- Filter dropdown -->
        <button class="filter-button" onclick="toggleFilterDropdown()">
            <img src="\css\images\icons\filter.png" class="filter-icon">
            <span class="filter-caption">Filter</span>
            <div class="filter-dropdown" id="filtersDropdown">
                <div class="filter-item">
                    <div class="filter-slider">
                        <label class="switch">
                            <input type="checkbox" id="filter-distance" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="filter-text">
                        <span class="slider-text">Distance</span>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="filter-slider">
                        <label class="switch">
                            <input type="checkbox" id="filter-price" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="filter-text">
                        <span class="slider-text">Cheapest Carpark</span>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="filter-slider">
                        <label class="switch">
                            <input type="checkbox" id="filter-lots" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="filter-text">
                        <span class="slider-text">Parking Lots</span>
                    </div>
                </div>
            </div>
        </button>

        <!-- Profile and Language Setting -->
        <button class="profile-settings" onclick="openprofileBar()">
            <img src="\css\images\icons\settings.png" class="settings-icon">
            <span class="profile-caption">Settings</span>
        </button>

        <!-- Login/Register Icon -->
        <button class="login-register" onclick="location.href='/login'">
            <img src="\css\images\icons\login-register.png" alt="Login" class="login-icon">
            <span class="login-caption">Login/Register</span>
        </button>
    </div>

    <div class="content">
        
        <!-- Sidebar for parking lots -->
        <div id="sidebar" class="sidebar sidebar-hidden">
            <!-- <img src="\css\images\icons\close.png" class="close-icon" onclick="closesideBar()"> -->
            <h2 class="parkinglotsHeader">Parking Lots Found</h2>
            <div id="parking-lots">
                <!-- Parking lot info will be dynamically added here -->
            </div>
            <button class="exit-button" onclick="closesideBar()">Close</button>
        </div> 

        <!-- Map -->
        <div class="map-container">
            <div id='mapdiv'></div>
        </div>
        
        <!-- Sidebar for settings -->
        <div class ="profile-sidebar" id="profile-bar">
            <img src="\css\images\icons\close.png" class="close-icon" onclick="closeprofileBar()">
            <h2 class="profile-header-text">Settings</h2>
            <nav>
                <div class="language-selector">
                    <label for="languageDropdown" class="selectLanguage">Select Language:</label>
                    <select id="languageDropdown" onchange="changeLanguage()">
                        <option value="en" selected>English</option>
                        <option value="zh">中文 (Chinese)</option>
                        <option value="ms">Malay</option>
                        <option value="ta">தமிழ் (Tamil)</option>
                    </select>
                </div>
            </nav>
        </div>
    </div>

    <script>
        //Global variables
        let sw = L.latLng(1.144, 103.535);
        let ne = L.latLng(1.494, 104.502);
        let bounds = L.latLngBounds(sw, ne);
        let map, userLatLng;

        // Fetch the token when the page loads
        let apiToken;

        // Store search lat and search long
        let searchLat, searchLong;

        // Variables to keep track of the currently selected button and collapsible
        let lastSelectedButton = null;
        let lastSelectedCollapsible = null;
        let currentMarker = null;

        //DO NOT MOVE THESE CODES: THEY WILL NOT FUNCTION IF NOT IN MAIN CODE

        // Call fetchApiToken when the page loads
        window.onload = function() { fetchApiToken(); };

        async function fetchApiToken() {
        try {
            const response = await fetch('/api/token');
            if (!response.ok) {
                throw new Error('Failed to fetch token');
            }
            const data = await response.json();
            apiToken = data.token; // Store the token
        } catch (error) {
            console.error('Error fetching token:', error);
        }}

        // Initialize the map
        $.get("https://www.onemap.gov.sg/maps/json/raster/tilejson/2.2.0/Default.json", function (data) {
            if (map) {
                map.remove();
            }
            map = L.TileJSON.createMap('mapdiv', data);
            map.setMaxBounds(bounds);
            map.setView(L.latLng(1.2868108, 103.8545349), 16);

            // Add attribution
            map.attributionControl.setPrefix('<img src="https://www.onemap.gov.sg/web-assets/images/logo/om_logo.png" style="height:20px;width:20px;"/>&nbsp;<a href="https://www.onemap.gov.sg/" target="_blank" rel="noopener noreferrer">OneMap</a>&nbsp;&copy;&nbsp;contributors&nbsp;&#124;&nbsp;<a href="https://www.sla.gov.sg/" target="_blank" rel="noopener noreferrer">Singapore Land Authority</a>');
            
            // Call functions that need the map to be initialized
            showUserLocation();
        });

        //store searchMarker
        let searchMarker = null;
        let searchLatLng = null;

        // Declare a variable to store the current route
        let currentRoute;
        let circle = null;            // To store the circle around the destination
        let currentCarparks = [];     // To store the current carpark markers


        //DO NOT MOVE THESE CODES: THEY WILL NOT FUNCTION IF NOT IN MAIN CODE
        // Attach event listener to the search button or input field
        document.getElementById('search').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                searchLocation();
            }
        });

        // Event listener for distance filter
        $(document).ready(function() {
            $('#filter-distance').change(function() {
                if (this.checked) {
                    console.log('Checkbox is checked');
                    $('#parking-lots').empty().load(location.href + ' #parking-lots');
                } else {
                    console.log('Checkbox is unchecked');
                    $('#parking-lots').empty().load(location.href + ' #parking-lots')
                }
                displayNearbyCarparks_HDB(searchLat, searchLong);
            });
        });

        // Event listener for price filter
        $(document).ready(function() {
            $('#filter-price').change(function() {
                if (this.checked) {
                    console.log('Checkbox is checked');
                    $('#parking-lots').empty().load(location.href + ' #parking-lots');
                } else {
                    console.log('Checkbox is unchecked');
                    $('#parking-lots').empty().load(location.href + ' #parking-lots')
                }
                displayNearbyCarparks_HDB(searchLat, searchLong);
            });
        });

        // Event listener for Lots filter
        $(document).ready(function() {
            $('#filter-lots').change(function() {
                if (this.checked) {
                    console.log('Checkbox is checked');
                    $('#parking-lots').empty().load(location.href + ' #parking-lots');
                } else {
                    console.log('Checkbox is unchecked');
                    $('#parking-lots').empty().load(location.href + ' #parking-lots')
                }
                displayNearbyCarparks_HDB(searchLat, searchLong);
            });
        });
        //DO NOT MOVE THESE CODES: THEY WILL NOT FUNCTION IF NOT IN MAIN CODE

    </script>
    <script type='text/javascript' src="/MapInterface.js"></script>
    <script type='text/javascript' src="/js/Guest_Functions.js"></script>
    <script type='text/javascript' src="/NavigationManager.js"></script>
    <script type='text/javascript' src="/SearchManager.js"></script>
    <script type='text/javascript' src="/UserManager.js"></script>
    <script type='text/javascript' src="/carParkRoutes.js"></script>
    
</body>
</html>
