<html>
    <head>
        <title>OneMap: Default Map (TileJSON)</title>
        <link rel="stylesheet" href="https://www.onemap.gov.sg/web-assets/libs/leaflet/leaflet.css" />
        <script src="https://www.onemap.gov.sg/web-assets/libs/leaflet/onemap-leaflet.js"></script>
        <script src="https://www.onemap.gov.sg/web-assets/libs/leaflet/leaflet-tilejson.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
     </head>    
<h1>Guest mode</h1> 
<a href = "/register" style="display: block; margin-bottom: 10px;">Register</a>
<a href = "/login">Login</a>
</html.>
