<h1>Reset Password</h1>

<form action = "/resetPassword" method = "POST">
    <div>
        <h1>Reset Password <%= email %></h1>
    </div>
    <div>
        <label for = "OTP" style = "font-size:20px;">OTP</label>
        <input type = "OTP" id = "OTP" name = "OTP" required>
    </div>
    <div>
        <label for = "password" style = "font-size:20px;">New Password</label>
        <input type = "password" id = "password" name = "password" required>
    </div>
    <button type = "submit">Submit</button>
</form>