<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarPark Reset Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="respwd-container">
        <div class="respwd-box">
            <img src="/css/images/logo.jpg" alt="CarPark Logo" class="logo">

            <h1  style="font-size:20px;">Reset Password for <%= email %></h1>

            <% if (messages.error && messages.error.length > 0) { %>
                <div class="error-message" style="color: red;">
                    <%= messages.error[0] %>
                </div>
            <% } %>

            <form action="/resetPassword" method="POST">
                <div class="input-group">
                    <label for="OTP">OTP:</label>
                    <input type="text" id="OTP" name="OTP" required>
                </div>
                <div class="input-group">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPssword" name="confirmPassword" required>
                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
