<h1>Reset Password for <%= email %></h1>

<% if (messages.error && messages.error.length > 0) { %>
    <div class="error-message" style="color: red;">
        <%= messages.error[0] %>
    </div>
<% } %>

<form action="/resetPassword" method="POST">
    <div>
        <label for="OTP" style="font-size:20px;">OTP</label>
        <input type="text" id="OTP" name="OTP" required>
    </div>
    <div>
        <label for="password" style="font-size:20px;">New Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Submit</button>
</form>
