<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful reset password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div>
    <a href="/register" class="btn-register">Register</a>
    <a href="/guest" class="btn-guest">Continue as Guest</a>
    <a href="/login" class="btn-login">Login</a>
</div>

      
