<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful reset password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="pwdsuccess-container">
        <div class="pwdsuccess-box">
            <img src="/css/images/logo.jpg" alt="CarPark Logo" class="logo">
            <h1>Password successfully reset!</h1>
            <div class="link-container">
                <a href="/login" class="link-login">Login</a>
                <a href="/register" class="link-register">Register</a>
                <a href="/guest" class="link-guest">Continue as Guest</a>
            </div>
        </div>
    </div>
</body>
</html>

      
